.home-body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/033/880/865/large_2x/professional-microphone-and-headphones-on-stage-in-recording-studio-music-concept-recording-studio-in-the-background-with-a-microphone-ai-generated-free-photo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
display: flexbox;
}

.header-home {
    justify-content: center;
    height: 30px;
    border: 3px solid royalblue;
    gap: 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.logo-home {
    color: goldenrod;
    padding: 3px;
    font-size: medium;
    text-decoration: none;
}

header .logo-home span {
    color: coral;
}

.navigation-home {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.navigation-home a{
    color: royalblue;
    justify-content: center;
    text-decoration: none;
}

.navigation-home a:hover {
    color: white;
}

.welcome {
   text-align: center;
   color: royalblue;
}

.discription {
    color: snow;
    display: flex;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: peru;
    gap: 10px;
}

.services-body {
    background-image: url(https://www.nsta.org/sites/default/files/2021-08/CSL_August21_Minces_1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-services {
    justify-content: center;
    height: 30px;
    border: 3px solid springgreen;
    gap: 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.navigation-services {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.logo-services {
    color: springgreen;
    text-decoration: none;
}

.navigation-services a{
    color: springgreen;
    justify-content: center;
    text-decoration: none;
}

.navigation-services a:hover {
    color: snow;
}

.services-title {
    color: yellow;
    text-align: center;
    font-size: x-large;
}

.serv-dis {
    color: yellow;
    text-align: center;
}

.services-list {
    justify-content: start;
    list-style: none;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
}

.services-list a{
    color: springgreen;
    text-decoration: none;
    font-family: fantasy;
}

.services-list a:hover {
    color: snow;
}

.serv-title {
    color: yellow;
    text-align: center;
    margin-bottom: 50px;
}

.serv-title:hover {
    color: snow;
}

.all-cards {
    display: flex;
    justify-content: center;
}

.rec-card {
    background-color: snow;
    max-width: 300px;
    padding: 40px;
    margin: 10PX 15PX;
    border-radius: 20px;
}

.rec-card:hover {
    background-color: springgreen;

}

.rec-card span {
    font-size: 10px;
}

.includes {
    list-style: none;
}

.button {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.9);
}

.bun-list {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 3px;
    border-color: springgreen;
}

.bunlist a{
    color: springgreen;
    
    font-size: x-large;
}

.bunlist a:hover {
    color: snow;
}

.disclaim {
    color: red;
}

.disclaim a {
    color: snow;
}

.disclaim a:hover {
    color: springgreen;
}

.footer-serv {
     bottom: 0;
    display: flex;
   justify-content: center;
    color: springgreen;
    gap: 10px;
}

.header-book {
    background-color: black;
    justify-content: center;
    height: 30px;
    border: 3px solid dodgerblue;
    gap: 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.nav-book {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.nav-book a {
    color: silver;
    text-decoration: none;
}

.nav-book a:hover {
    color: snow;
}

.logo-book {
    color: silver;
    text-decoration: none;
}

header .logo-book span {
    color: dodgerblue;
}

.book-title {
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.book {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}


.mmg img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.9);
}

.calendar {
        display: grid;
        grid-template-rows: auto auto 1fr;
        border-radius: 20px;
        background-color: black;
        color: silver;
        width: 400px;
}

.calendar-header {
    text-align: center;
}

.calendar-days, .calendar-dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin: 3px;
        padding: 10px;
}

.calendar-dates a {
    color: silver;
}

.calendar-dates a:hover {
    color: dodgerblue;
}

.calendar-dates div {
       margin: 3px;
       padding: 10px;
}

#contact {
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.form-horizontal {
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: dodgerblue;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}


.direct-contact-container {
  max-width: 400px;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
 color: dodgerblue;
  text-decoration: none;
}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.footer-book {
    bottom: 0;
    display: flex;
   justify-content: center;
    color: silver;
    background-color: #000;
    gap: 10px;
}

.gall-body {
    background-color: #000;
}

.header-gall {
    justify-content: center;
    height: 30px;
    border: 5px double silver;
    gap: 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.logo-gall {
    color: red;
    text-decoration: none;
}

.logo-gall span {
    color: purple;
}

.navigation-gall {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.navigation-gall a{
    color: purple;
    justify-content: center;
    text-decoration: none;
}

.navigation-gall a:hover {
    color: snow;
}

.gall-style {
    text-align: center;
    justify-content: center;
}

.gall-title {
    color: purple;
    text-align: center;
    margin-bottom: 50px;
}

.gall-dis {
    color: purple;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.gall-dis a {
    color: red;
}

.gall-dis a:hover {
    color: snow;
}

.pic-lay {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
}

.pic-lay img {
    background-color: #fff;
    border-radius: 20px;
}

.pic-lay img:hover {
    transform: scale(1.50);

}

.pics {
    border: #fff;
    background-color: #fff;
    margin: 2px;
    border-radius: 20px;
}

.pic-dis {
    color: snow;
    font-family: cursive;
}

.footer-gall {
    color: purple;
    bottom: 0;
    display: flex;
   justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .all-cards {
         display: flex;
    flex-direction: column;
    }
    .book {
         display: flex;
    flex-direction: column;
    margin-left: 10px;
    }
    .mmg img {
        width: 140%;
    }
    .send-button {
        width: 90%;
    }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
    width: 90%;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .pic-lay {
     display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}